body{
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;
    
}
h2{
    font-size: 50px;
    margin-bottom: 0%;
}

.donate1{
    text-align: center;
    background-image: url(images/donation13.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.image{
    text-align: center;
}
.area{
    text-align: center;
}
.link{
    text-decoration: none;
    color: black;
    background-color: brown;
    padding: 4px;
    border-radius: 4px;
}

.white{
    color: aliceblue;
}
.black{
    color: black;
}

.amount{
    
    
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-right: 50px;
    }
    .top{
        margin-top: 50px;
    }
h3{
    padding: 5px;
    color: #000000af;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0px;
}
.hundred{
border: 2px solid rgba(0, 0, 0, 0.007);
background-color: rgba(128, 128, 128, 0.26);
height: 50px;
width: 60px;
margin-right: 10px;

}
.twohundred{
    border: 2px solid rgba(255, 0, 0, 0.445);
    background-color: rgba(255, 0, 0, 0.253);
    height: 50px;
    width: 60px;
    margin-right: 10px;
}
.taka{
    text-align: center;
    color: rgba(0, 0, 0, 0.459);
}
hr{
    width: 70%;
    color: rgba(0, 0, 0, 0.534);
    margin-bottom: 40px;
}
.donate2{
    text-align: center;
    margin-bottom: 70px;
}
.thirdpart{
display: flex;
text-align:left;
justify-content:center;
text-indent: 10px;
}
.food{
    border: 2px solid rgba(0, 0, 0, 0.048);
    height: 150px;
    background-color:violet;
    width: 200px;
    margin-right: 10px;
}
.food2{
    margin-top: 30px;
}
.shelter{
    border: 2px solid rgba(0, 0, 0, 0.048);
    height: 150px;
    background-color: rgba(0, 0, 255, 0.24);
    margin-right: 10px;
    width: 200px;
}
.child{
    border: 2px solid rgba(0, 0, 0, 0.123);
    height: 150px;
    background-color: rgba(255, 127, 80, 0.288);
    width: 200px;
}
.linkthree{
    text-decoration: none;
    background-color: rgba(165, 42, 42, 0.884);
    color: black;
    padding: 3px;
    border-radius: 3px;
}
.fourth{
    display: flex;
    margin-bottom: 70px;
}
.image2{
height: 400px;
width: 500px;
}
.image2{
    margin-right: 10px ;
    height: 400px;
     width: 500px;
}
h3{
    color:brown;
}
p{
    color: aliceblue;
}
footer{
    text-align: center;
    background-color: black;
    height: 100px;
}